In [1]:
import numpy as np
import pandas as pd

In [46]:
election = pd.read_csv("D:/Programming in Data Science/Pandas/2012 US election results (Pennsylvania).csv")

In [3]:
election

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
5,Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
6,Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
7,Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351
8,Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
9,Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
10,Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933
11,Cameron,PA,1967,34.417895,64.260295,Romney,3651,53.875651,29.842400
12,Carbon,PA,24232,45.559591,52.451304,Romney,39017,62.106261,6.891713
13,Centre,PA,68801,48.948416,48.977486,Romney,112949,60.913333,0.029069
14,Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
15,Clarion,PA,15227,31.069810,67.170158,Romney,24120,63.130182,36.100348
16,Clearfield,PA,31894,34.780837,63.657741,Romney,51174,62.324618,28.876905
17,Clinton,PA,12663,43.457317,54.813235,Romney,22969,55.130829,11.355919
18,Columbia,PA,24305,42.888295,55.317836,Romney,39888,60.933113,12.429541
19,Crawford,PA,33089,39.360513,58.922905,Romney,54711,60.479611,19.562392
20,Cumberland,PA,109964,39.997636,58.532793,Romney,158194,69.512118,18.535157
21,Dauphin,PA,122625,52.362080,46.351070,Obama,178924,68.534685,6.011009
22,Delaware,PA,272853,60.400655,38.581214,Obama,397338,68.670251,21.819441
23,Elk,PA,12425,41.400402,57.134809,Romney,20302,61.200867,15.734406
24,Erie,PA,112732,57.779512,40.895221,Obama,176851,63.744056,16.884292
25,Fayette,PA,48196,45.317039,53.624782,Romney,91681,52.569235,8.307743
26,Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
27,Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
28,Fulton,PA,6148,21.096291,77.748861,Romney,9344,65.796233,56.652570
29,Greene,PA,13726,40.536209,58.174268,Romney,22663,60.565680,17.638059
...,...,...,...,...,...,...,...,...,...
37,Lebanon,PA,53771,35.288538,63.249707,Romney,81476,65.996122,27.961169
38,Lehigh,PA,144922,53.152040,45.604532,Obama,226453,63.996503,7.547508
39,Luzerne,PA,123741,51.699922,46.847043,Obama,194137,63.739009,4.852878
40,Lycoming,PA,46214,32.682737,65.975678,Romney,68064,67.897861,33.292942
41,McKean,PA,15014,35.033968,63.234315,Romney,25861,58.056533,28.200346
42,Mercer,PA,48065,48.022470,50.564860,Romney,75238,63.883942,2.542391
43,Mifflin,PA,16311,26.111213,72.913984,Romney,24445,66.725302,46.802771
44,Monroe,PA,59312,56.364648,42.318586,Obama,108879,54.475151,14.046062
45,Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
46,Montour,PA,7787,38.859638,59.535123,Romney,13518,57.604675,20.675485
47,Northampton,PA,125883,51.646370,47.061160,Obama,209414,60.112027,4.585210
48,Northumberland,PA,31512,39.324702,58.758568,Romney,54978,57.317472,19.433866
49,Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
50,Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
51,Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
52,Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
53,Schuylkill,PA,57505,42.523259,55.918616,Romney,86316,66.621484,13.395357
54,Snyder,PA,14962,31.225772,67.170164,Romney,21573,69.355213,35.944392
55,Somerset,PA,33875,27.808118,70.656827,Romney,51860,65.320093,42.848708
56,Sullivan,PA,2934,35.037491,63.360600,Romney,4242,69.165488,28.323108
57,Susquehanna,PA,17930,38.432794,59.871723,Romney,26163,68.531896,21.438929
58,Tioga,PA,15943,31.694160,66.480587,Romney,26001,61.316872,34.786427
59,Union,PA,16187,37.455983,60.931612,Romney,23950,67.586639,23.475629
60,Venango,PA,20775,35.951865,62.228640,Romney,32773,63.390596,26.276775
61,Warren,PA,16462,41.112866,57.192322,Romney,29111,56.549071,16.079456
62,Washington,PA,90078,42.744066,56.012567,Romney,142331,63.287689,13.268501
63,Wayne,PA,20966,38.815225,59.768196,Romney,32577,64.358290,20.952971
64,Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508
65,Wyoming,PA,11214,42.910647,55.189941,Romney,17255,64.989858,12.279294
66,York,PA,186394,38.695452,59.860296,Romney,280280,66.502783,21.164844

In [6]:
election.head()

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [17]:
election = election.set_index('county')

In [19]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [37]:
bedford = election.loc['Bedford','winner']
bedford

'Romney'

In [45]:
x = 'Bedford'
y = 'winner'

if(election.iloc[x,y] == election.loc['Bedford','winner']):
      print("hello")
    
print(x,y)

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [47]:
election.head()

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [53]:
x = election.iloc[4,5]
x

'Romney'

In [54]:
election = election.set_index('county')
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [57]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [60]:
x = election.loc['Bedford','winner']
if(x == election.iloc[4,4]):
    print("hello")

hello

TypeError: 'method' object is not subscriptable

In [63]:
import pandas as pd
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [70]:
election.loc[:,'winner']

county
Adams             Romney
Allegheny          Obama
Armstrong         Romney
Beaver            Romney
Bedford           Romney
Berks             Romney
Blair             Romney
Bradford          Romney
Bucks              Obama
Butler            Romney
Cambria           Romney
Cameron           Romney
Carbon            Romney
Centre            Romney
Chester           Romney
Clarion           Romney
Clearfield        Romney
Clinton           Romney
Columbia          Romney
Crawford          Romney
Cumberland        Romney
Dauphin            Obama
Delaware           Obama
Elk               Romney
Erie               Obama
Fayette           Romney
Forest            Romney
Franklin          Romney
Fulton            Romney
Greene            Romney
                   ...
Lebanon           Romney
Lehigh             Obama
Luzerne            Obama
Lycoming          Romney
McKean            Romney
Mercer            Romney
Mifflin           Romney
Monroe             Obama
Montgomery         Obama
Montour           Romney
Northampton        Obama
Northumberland    Romney
Perry             Romney
Philadelphia       Obama
Pike              Romney
Potter            Romney
Schuylkill        Romney
Snyder            Romney
Somerset          Romney
Sullivan          Romney
Susquehanna       Romney
Tioga             Romney
Union             Romney
Venango           Romney
Warren            Romney
Washington        Romney
Wayne             Romney
Westmoreland      Romney
Wyoming           Romney
York              Romney
Name: winner, Length: 67, dtype: object

In [71]:
result = election[['winner','total','voters']]
result.head()

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

In [73]:
p_countries = election['Perry':'Potter']
p_countries

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681

In [83]:
p_countries_rev = p_countries[::-1]
p_countries_rev

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272

In [91]:
left_columns = election.loc[:,:'Obama']
left_columns.head()

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452

In [90]:
middle_columns = election.loc[:,'Obama':'winner']
middle_columns.head()

               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney

In [93]:
right_columns = election.loc[:,'Romney':]
right_columns.head()

              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

In [94]:
rows = ['Philadelphia','Centre','Fulton']
cols = ['winner','Obama','Romney']
three_countries = pd.DataFrame(election.loc[rows,cols])
three_countries

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

In [95]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [101]:
high_turnount = election['turnout'] > 70
high_turnout_df = election.loc[high_turnount]
high_turnout_df

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

In [132]:
import numpy as np
election = pd.read_csv("D:/Programming in Data Science/Pandas/2012 US election results (Pennsylvania).csv")
election = election.set_index('county')
election.loc[election['margin'] < 1,'winner'] = np.nan
election

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,NaN,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933
Cameron,PA,1967,34.417895,64.260295,Romney,3651,53.875651,29.842400
Carbon,PA,24232,45.559591,52.451304,Romney,39017,62.106261,6.891713
Centre,PA,68801,48.948416,48.977486,NaN,112949,60.913333,0.029069
Chester,PA,248295,49.228539,49.650617,NaN,337822,73.498766,0.422079
Clarion,PA,15227,31.069810,67.170158,Romney,24120,63.130182,36.100348
Clearfield,PA,31894,34.780837,63.657741,Romney,51174,62.324618,28.876905
Clinton,PA,12663,43.457317,54.813235,Romney,22969,55.130829,11.355919
Columbia,PA,24305,42.888295,55.317836,Romney,39888,60.933113,12.429541
Crawford,PA,33089,39.360513,58.922905,Romney,54711,60.479611,19.562392
Cumberland,PA,109964,39.997636,58.532793,Romney,158194,69.512118,18.535157
Dauphin,PA,122625,52.362080,46.351070,Obama,178924,68.534685,6.011009
Delaware,PA,272853,60.400655,38.581214,Obama,397338,68.670251,21.819441
Elk,PA,12425,41.400402,57.134809,Romney,20302,61.200867,15.734406
Erie,PA,112732,57.779512,40.895221,Obama,176851,63.744056,16.884292
Fayette,PA,48196,45.317039,53.624782,Romney,91681,52.569235,8.307743
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Fulton,PA,6148,21.096291,77.748861,Romney,9344,65.796233,56.652570
Greene,PA,13726,40.536209,58.174268,Romney,22663,60.565680,17.638059
...,...,...,...,...,...,...,...,...
Lebanon,PA,53771,35.288538,63.249707,Romney,81476,65.996122,27.961169
Lehigh,PA,144922,53.152040,45.604532,Obama,226453,63.996503,7.547508
Luzerne,PA,123741,51.699922,46.847043,Obama,194137,63.739009,4.852878
Lycoming,PA,46214,32.682737,65.975678,Romney,68064,67.897861,33.292942
McKean,PA,15014,35.033968,63.234315,Romney,25861,58.056533,28.200346
Mercer,PA,48065,48.022470,50.564860,Romney,75238,63.883942,2.542391
Mifflin,PA,16311,26.111213,72.913984,Romney,24445,66.725302,46.802771
Monroe,PA,59312,56.364648,42.318586,Obama,108879,54.475151,14.046062
Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
Montour,PA,7787,38.859638,59.535123,Romney,13518,57.604675,20.675485
Northampton,PA,125883,51.646370,47.061160,Obama,209414,60.112027,4.585210
Northumberland,PA,31512,39.324702,58.758568,Romney,54978,57.317472,19.433866
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
Schuylkill,PA,57505,42.523259,55.918616,Romney,86316,66.621484,13.395357
Snyder,PA,14962,31.225772,67.170164,Romney,21573,69.355213,35.944392
Somerset,PA,33875,27.808118,70.656827,Romney,51860,65.320093,42.848708
Sullivan,PA,2934,35.037491,63.360600,Romney,4242,69.165488,28.323108
Susquehanna,PA,17930,38.432794,59.871723,Romney,26163,68.531896,21.438929
Tioga,PA,15943,31.694160,66.480587,Romney,26001,61.316872,34.786427
Union,PA,16187,37.455983,60.931612,Romney,23950,67.586639,23.475629
Venango,PA,20775,35.951865,62.228640,Romney,32773,63.390596,26.276775
Warren,PA,16462,41.112866,57.192322,Romney,29111,56.549071,16.079456
Washington,PA,90078,42.744066,56.012567,Romney,142331,63.287689,13.268501
Wayne,PA,20966,38.815225,59.768196,Romney,32577,64.358290,20.952971
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508
Wyoming,PA,11214,42.910647,55.189941,Romney,17255,64.989858,12.279294
York,PA,186394,38.695452,59.860296,Romney,280280,66.502783,21.164844

In [117]:
titanic = pd.read_csv('D:/Programming in Data Science/Pandas/titanic.csv')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [151]:
df = pd.DataFrame(titanic.loc[:,['age','cabin']])
df.head()

     age    cabin
0  29.00       B5
1   0.92  C22 C26
2   2.00  C22 C26
3  30.00  C22 C26
4  25.00  C22 C26

In [123]:
?pd.DataFrame.shape

In [152]:
df.shape

(1309, 2)

In [153]:
x = df.dropna(how = 'any')
x.shape

(272, 2)

In [134]:
?df.dropna

In [154]:
y = df.dropna(how = 'all')
y.shape

(1069, 2)

In [150]:
df.head()

     age    cabin
0  29.00       B5
1   0.92  C22 C26
2   2.00  C22 C26
3  30.00  C22 C26
4  25.00  C22 C26

In [155]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [159]:
df2 = titanic.dropna(thresh=1000,axis='columns')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB

In [160]:
weather = pd.read_csv('D:/Programming in Data Science/Pandas/Pittsburgh weather data.csv')
weather.head()

,Date,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,Mean Dew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2013-1-1,32,28,21,30,27,16,100,89,77,...,10,6,2,10,8,NaN,0.00,8,Snow,277
1,2013-1-2,25,21,17,14,12,10,77,67,55,...,10,10,10,14,5,NaN,0.00,4,NaN,272
2,2013-1-3,32,24,16,19,15,9,77,67,56,...,10,10,10,17,8,26.0,0.00,3,NaN,229
3,2013-1-4,30,28,27,21,19,17,75,68,59,...,10,10,6,23,16,32.0,0.00,4,NaN,250
4,2013-1-5,34,30,25,23,20,16,75,68,61,...,10,10,10,16,10,23.0,0.21,5,NaN,221

In [171]:
def to_celsius(tempf):
    tempc = 5*(tempf-32)/9
    return tempc

df_celsius = weather[['Mean TemperatureF','Mean Dew PointF']].apply(to_celsius)
df_celsius.head()

   Mean TemperatureF  Mean Dew PointF
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

In [181]:
red_vs_blue = {'Obama':'blue','Romney':'red'}
election['color'] = election['winner'].map(red_vs_blue)
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin,color
county,,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667,red
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399,blue
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293,red
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012,red
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118,red

In [173]:
?DataFrame.map()

Object `DataFrame.map()` not found.

In [3]:
import pandas as pd
import numpy as np

In [1]:
from scipy.stats import zscore

In [4]:
election = pd.read_csv("D:/Programming in Data Science/Pandas/2012 US election results (Pennsylvania).csv")
election = election.set_index('county')

In [6]:
turnout_zscore = zscore(election['turnout'])
election['turnout_zscore'] = turnout_zscore
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin,turnout_zscore
county,,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667,0.853734
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399,0.439846
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293,0.575650
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012,1.018647
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118,0.463391

In [7]:
type(turnout_zscore)

numpy.ndarray